#home {
  position: relative;
  background-image: url('../img/banner.jpeg');
  background-size: cover;
  background-position: center 15%; /* central horizontal, vertical 30% */
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#home .banner-overlay {
  background-color: rgba(0,0,0,0.4);
  padding: 20px 40px;
  border-radius: 10px;
}
